resources
corpora
build/
dist/
site/
*.egg-info/
.idea/
__pycache__/
*.py[cod]
htmlcov/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.python-version
pdm.lock
.pdm.toml
__pypackages__/
.mypy_cache/
.venv/