@font-face {
    font-family: Shabnam;
    src: url("./assets/fonts/Shabnam.eot");
    src: url("./assets/fonts/Shabnam.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/Shabnam.woff") format("woff"),
        url("./assets/fonts/Shabnam.woff2") format("woff2"),
        url("./assets/fonts/Shabnam.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url("./assets/fonts/Shabnam-Bold.eot");
    src: url("./assets/fonts/Shabnam-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/Shabnam-Bold.woff") format("woff"),
        url("./assets/fonts/Shabnam-Bold.woff2") format("woff2"),
        url("./assets/fonts/Shabnam-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Kawkab Mono";
    src: url("./assets/fonts/KawkabMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    size-adjust: 70%;
}

body,
.md-search__input {
    font-family: "Shabnam";
}

.highlight > pre {
    white-space: pre-wrap;
    word-break: break-word;
}

code,
kbd,
pre {
    --md-code-font-family: var(--md-code-font, _), "Kawkab Mono", SFMono-Regular,
        Consolas, Menlo, monospace;
}

.md-footer__link {
    margin-top: 1rem;
}

.code {
    font-size: 1.3em;
}

.linenos + .code code {
    font-size: 0.6539em;
}

.doc-heading code {
    display: inline-block;
}

.md-sidebar--secondary[data-md-type="toc"] .md-nav__link {
    display: block;
    direction: ltr;
    text-align: right;
}

.doc-contents a,
.doc-contents code {
    display: inline-block;
    direction: ltr;
}

details.quote summary {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

details.quote code {
    margin-left: 18px;
}

.required-parameter {
    font-weight: bold;
}

table:not(.highlighttable) {
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-collapse: separate !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}

table:not(.highlighttable) thead tr {
    background-color: #f5f5f5;
    text-align: left;
}

table:not(.highlighttable) th,
table:not(.highlighttable) td {
    padding: 12px 15px;
}

table:not(.highlighttable) tr {
    border-bottom: 1px solid #dddddd;
}
