body {
    direction: rtl;
    font-family: Vazir;
    color: #666;
    font-size: 0.93vw;
    background: url(../images/body-background.png) #eae6d1;
}

pre {
    direction: ltr;
    font-family: monospace, Vazir;
    font-size: 1.2vw;
    color: #FFFFFF !important;
    border-radius: 0.52vw;
}

p {
    font-size: 1.35vw;
    color: #666666;
}

ul {
    color: #666666;
    font-size: 1.35vw;
    line-height: 1.25vw; /* identical to box height, or 92% */
    margin-bottom: 0;
    padding-right: 0;
}

ul li {
    margin-bottom: 1.35vw;
}

/*----------------------------- header  -------------------------------*/

.header {
    position: relative;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 2.18vw;
    height: 10.83vw;
    background: #3E71B2;
    padding: 1.93vw 15.42vw 1.72vw 0;
}

.header .logo {
    height: 4.89vw;
    text-shadow: 0 2px 0 #235796;
    color: #FFFFFF;
    font-size: 2.92vw;
    font-weight: bold;
    line-height: 4.89vw;
    text-align: right;
}

.header .text {
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
    font-size: 1.35vw;
    line-height: 2.29vw;
}

/* ----------------------------------------- header's menu css ------------------------------------*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 46.77vw;
    height: 2.76vw;
    left: 16.15vw;
    top: 9.47vw;
}

.menu a:hover {
    background: linear-gradient(#ffe788, #ffe788);
    background-color: #ffeca0;
}

.menu > a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-size: 1.35vw;
    line-height: 2.29vw;
    text-align: right;
    color: #545757;
    background: linear-gradient(180deg, #FFE385 0%, #FFCF36 100%);
    border: 0.106vw solid #D9A600;
    box-shadow: 0 0.106vw 0.053vw #C9C9C9;
    border-radius: 0.159vw;
}

.menu span {
    margin-right: 0.78vw;
    height: 2.29vw;
}

.item1 {
    width: 11.71vw;
}

.item1 img {
    width: 1.125vw;
    height: 1.37vw;
}

.item2 {
    width: 10.52vw;
}

.item2 img {
    width: 1.71vw;
    height: 0.91vw;
}

.item3 {
    width: 9.11vw;
}

.item3 img {
    width: 1.43vw;
    height: 0.83vw;
}

.item4 {
    width: 12.29vw;
}

.item4 img {
    width: 1.66vw;
    height: 1.14vw;
}

/*----------------------------- content  -------------------------------*/
.content {
    width: 70.72vw;
    background: #FBFBFB;
    border: 0.104vw solid #CCCBCA;
    border-radius: 0.26vw;
    margin: auto;
    padding: 3.125vw 3.125vw 5.2vw 3.125vw;
}

.title {
    font-size: 1.66vw;
    font-weight: bold;
    color: #303030;
    line-height: 2.81vw;
    text-align: right;
    margin-bottom: 0.78vw;
}

.feature-ul {
    margin-bottom: 5.2vw;
    padding-right: 1.56vw;
}

.test-code img {
    width: 6.77vw;
    height: 1.51vw;
}

/* --------- tree section -------- */
.tree {
    width: 51.33vw;
    height: 21.61vw;
    margin-right: 10.2vw;
    margin-bottom: 5.2vw;
}

.tree-title {
    font-weight: bold;
    font-size: 1.66vw;
    line-height: 2.81vw; /* identical to box height */
    color: #303030;
    margin-bottom: 3.125vw;
}

/* -------- paragraph sections ---- */

.paragraph-1 {
    line-height: 1.51vw;
}

.paragraph-2 {
    line-height: 2.08vw;
}

/* -------- code sections -------*/
.highlight-python {
    margin-bottom: 5.2vw;
}

.highlight-python pre {
    padding: 1.04vw;
    line-height: 1.56vw; /* or 125% */
    background-color: #000000 !important;
}

.python-code {
    padding: 0.98vw 0 1.09vw 1.04vw;
    line-height: 1.04vw;
    background-color: #0F0F10 !important;
}

/* ---------- last-change section ----- */
.last-change-section {
    margin-bottom: 5.2vw;
}

.last-change-section .sub-title {
    height: 3.125vw;
    background: #F2F2F2;
    border-radius: 0.26vw;
    display: flex;
    align-items: center;
    padding-right: 0.78vw;
    margin-bottom: 1.56vw;
}

.sub-title img {
    width: 0.88vw;
    height: 1.51vw;
}

.sub-title span {
    margin-right: 1.04vw;
    font-weight: bold;
    font-size: 1.25vw;
    line-height: 2.08vw;
    color: #337AB7;
}

.last-change-section ul {
    padding-right: 2.6vw;
}

/* ----------- thank-section ---------------*/
.thank-section {
    margin-bottom: 5.83vw;
}

.thank-section ul {
    padding-right: 2.6vw;
}

/*----------------------------- footer  -------------------------------*/
.footer {
    margin: 2.08vw 16.19vw 15.72vw auto;
}

.footer .paragraph-3 {
    color: #aaa;
    line-height: 2.29vw;
}

.footer a {
    color: #337AB7 !important;
}


/* ---------------------- banners       ------------------------------ */

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none !important;
    padding: 0;
    height: 13.54vw;
    margin: 4.16vw auto;
    border-radius: 0.36vw;
    background-image: url("../images/centerBg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner .text {
    margin-right: 5.2vw;
}

.banner .text p {
    text-align: right;
    letter-spacing: 0;
    line-height: 2.08vw;
    font-size: 1.24vw;
    font-weight: bold;
    color: #FFFFFF;
}

.banner .text p:last-child {
    margin-bottom: 0 !important;
}

.banner .text span {
    font-weight: bolder; /* extra bold */
}

.banner .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    color: #FFFFFF;
    border-radius: 0.26vw;
    background-color: #528EE3;
    height: 3.64vw;
    width: 14.06vw;
    font-size: 1.14vw;
    line-height: 1.92vw;
    margin-left: 5.3vw;
}

.banner .button-div img {
    width: 0.31vw;
    height: 0.625vw;
    margin-right: 1.45vw;
}
