* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: 'Vazir', sans-serif;
    background: #EAE5D1;
}

a {
    color: #337AB7;
    font-family: 'Vazir-Medium', sans-serif;
}

h1, h2 {
    font-family: 'Vazir-Bold', sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

ul {
    margin-bottom: 0;
    padding-right: 0;
}

ul li {
    height: 1.25vw;
    line-height: 1.25vw; /* identical to box height, or 92% */
    margin-bottom: 1.35vw;
}

p, li {
    font-family: 'Vazir-Light', sans-serif;
    font-size: 1.25vw;
    color: #666666;
}

pre, code {
    direction: ltr;
    font-family: 'Vazir-Code', monospace;
    font-size: 1.04vw;
    color: #FFFFFF;
    margin-bottom: 0;
}

.highlight .o, .highlight .n, .highlight .p {
    color: #FFFFFF;
}

/*----------------------------- header  -------------------------------*/

.header {
    position: relative;
    margin-bottom: 2.18vw;
    height: 10.31vw;
    background: #3E71B2;
    padding: 1.93vw 15.41vw 1.93vw 0;
    color: #FFFFFF;
}

.header .logo {
    height: 4.37vw;
    font-size: 2.6vw;
    line-height: 4.37vw;
}

.header .text {
    font-size: 1.25vw;
    line-height: 2.08vw;
}

.header .menu-icon, .header .close-icon {
    display: none;
}

/* ----------------------------------------- header's menu css ------------------------------------*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 42.13vw;
    height: 2.76vw;
    left: 16.25vw;
    top: 8.958vw;
}

.menu a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1.77vw;
    color: #545757;
    background: linear-gradient(180deg, #FFE385 0%, #FFCF36 100%);
    border: 0.104vw solid #D9A600;
    box-shadow: 0 0.052vw 0.052vw #C9C9C9;
    border-radius: 0.156vw;
    font-size: 1.04vw;
}

.menu a:hover {
    background: linear-gradient(#ffe788, #ffe788);
    background-color: #ffeca0;
}

.menu span {
    margin-right: 0.78vw;
    height: 1.77vw;
}

.item1 {
    width: 10.26vw;
}

.item1 img {
    width: 1.125vw;
    height: 1.37vw;
    margin-bottom: 0.2vw;
}

.item1 span {
    margin-top: 0.2vw;
}

.item2 {
    width: 9.47vw;
}

.item2 img {
    width: 1.72vw;
    height: 0.91vw;
}

.item3 {
    width: 8.43vw;
}

.item3 img {
    width: 1.43vw;
    height: 0.83vw;
}

.item4 {
    width: 10.83vw;
}

.item4 img {
    width: 1.66vw;
    height: 1.14vw;
}

/*----------------------------- content  -------------------------------*/
.content {
    width: 70.72vw;
    background: #FBFBFB;
    border: 0.104vw solid #CCCBCA;
    border-radius: 0.26vw;
    margin: auto;
    padding: 3.64vw 3.125vw 3.8vw 3.125vw;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.56vw;
    color: #303030;
    line-height: 2.65vw;
    height: 2.65vw;
}

.title1, .title2, .title4, .title5, .title7 {
    margin-bottom: 0.78vw;
}

.title3 {
    margin-bottom: 3.125vw;
}

.title6 {
    margin-bottom: 0.94vw;
}

.feature-ul {
    margin-bottom: 5.31vw;
    padding-right: 1.56vw;
}

.test-code img {
    width: 6.77vw;
    height: 1.51vw;
}

/* -------- code sections -------*/
.highlight-python {
    margin-bottom: 5.41vw;
    border-radius: 0.52vw;
    padding: 1.04vw;
    background-color: #000000;
}

.highlight-python pre {
    background-color: inherit;
    border: none;
    line-height: 1.56vw;
    padding: 1.04vw;
}

.python-code {
    padding: 1.04vw;
    line-height: 1.04vw;
    background-color: #0F0F10 !important;
}

/* --------- tree section -------- */
.tree-section {
    margin-bottom: 5.2vw;
}

.tree-web {
    display: inline-block;
    width: 51.33vw;
    height: 21.61vw;
    margin: 0 7.08vw 0 auto;
}

.tree-mobile {
    display: none;
}

/* -------- paragraph sections ---- */

.paragraph-1 {
    line-height: 1.51vw;
    margin-bottom: 2.08vw;
}

.paragraph-2 {
    line-height: 2.08vw;
    margin: 2.08vw 0;
}

.paragraph-2 p:last-child {
    margin-bottom: 0 !important;
}

.paragraph-3 {
    line-height: 2.08vw;
    margin-bottom: 5.2vw;
}

/* ---------------------- banners       ------------------------------ */

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none !important;
    padding: 0;
    height: 13.54vw;
    margin: 4.16vw auto;
    border-radius: 0.36vw;
    background-image: url("../images/centerBg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner .text {
    margin-right: 5.2vw;
}

.banner .text p {
    font-family: 'Vazir-Medium', sans-serif;
    text-align: right;
    line-height: 2.08vw;
    color: #FFFFFF;
}

.banner .text p:last-child {
    margin-bottom: 0 !important;
}

.banner .text span {
    font-family: 'Vazir-Bold', sans-serif;
}

.banner .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    color: #FFFFFF;
    border-radius: 0.26vw;
    background-color: #528EE3;
    height: 3.64vw;
    width: 14.06vw;
    font-family: 'Vazir-Bold', sans-serif;
    font-size: 1.14vw;
    line-height: 1.92vw;
    margin-left: 5.2vw;
}

.banner .button-div img {
    width: 0.312vw;
    height: 0.625vw;
    margin-right: 1.46vw;
}

/* ---------- last-change section ----- */
.last-change-section {
    margin-bottom: 5.2vw;
}

.last-change-section .sub-title {
    height: 3.125vw;
    background: #F2F2F2;
    border-radius: 0.26vw;
    display: flex;
    align-items: center;
    padding-right: 0.78vw;
    margin-bottom: 1.56vw;
}

.sub-title a {
    margin-top: 0.2vw;
    text-decoration: none !important
}

.sub-title img {
    width: 0.88vw;
    height: 1.51vw;
}

.sub-title span {
    font-family: 'Vazir-Bold', sans-serif;
    font-size: 1.04vw;
    line-height: 1.77vw;
    margin-right: 1.04vw;
}

.last-change-section ul {
    padding-right: 2.6vw;
}

.last-change-section ul:not(:last-child) {
    margin-bottom: 3.64vw;
}

/* ----------- thank-section ---------------*/
.thank-section ul {
    padding-right: 1.56vw;
}

.thank-section ul li:last-child {
    margin-bottom: 0;
}

/*----------------------------- footer  -------------------------------*/
.footer {
    margin: 1.56vw 16.19vw 3.17vw 0;
}

.footer p {
    font-family: 'Vazir-Medium', sans-serif;
    color: #ADA99D;
    font-size: 1.35vw;
    height: 2.29vw;
    line-height: 2.29vw;
}


/* --------------------------------------------------- mobile version ---------------------------------------------*/
@media screen and (max-width: 762px) {
    /*body {*/
    /*background: #E5E0CC;*/
    /*}*/
    /*p, ul li {*/
    /*font-size: 18px;*/
    /*}*/
    /*ul li {*/
    /*height: auto;*/
    /*line-height: normal;*/
    /*margin-bottom: 0;*/
    /*}*/
    /*pre, code {*/
    /*font-size: 16px;*/
    /*}*/
    /*!*----------------------------- header  -------------------------------*!*/
    /*.header {*/
    /*margin-bottom: 25px;*/
    /*height: 95px;*/
    /*padding: 21px 40px 17px 31px;*/
    /*}*/
    /*.header .logo {*/
    /*font-size: 22px;*/
    /*line-height: 37px;*/
    /*height: 37px;*/
    /*}*/
    /*.header .text {*/
    /*font-size: 14px;*/
    /*line-height: 24px;*/
    /*height: 24px;*/
    /*}*/
    /*.header .menu-icon.active {*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*width: 15px;*/
    /*height: 8px;*/
    /*left: 31.5px;*/
    /*top: 36px;*/
    /*}*/
    /*.header .close-icon.active {*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*position: absolute;*/
    /*width: 11.31px;*/
    /*height: 11.31px;*/
    /*left: 33.34px;*/
    /*top: 34.84px;*/
    /*}*/
    /*!* ----------------------------------------- header's menu css ------------------------------------*!*/
    /*.menu {*/
    /*display: none;*/
    /*}*/
    /*!*----------------------------- content  -------------------------------*!*/
    /*.content {*/
    /*min-width: 325px;*/
    /*width: 86%;*/
    /*!*width: min-content;*!*/
    /*background: #FFFFFF;*/
    /*border: 0.5px solid #CECCC5;*/
    /*border-radius: 10px;*/
    /*margin: auto;*/
    /*padding: 30px 25px 60px 25px;*/
    /*}*/
    /*.title {*/
    /*font-size: 20px;*/
    /*line-height: 34px;*/
    /*height: 34px;*/
    /*}*/
    /*.title1 {*/
    /*margin-bottom: 19px;*/
    /*}*/
    /*.title2 {*/
    /*margin-bottom: 15px;*/
    /*}*/
    /*.title3 {*/
    /*margin-bottom: 45px;*/
    /*}*/
    /*.title4, .title5 {*/
    /*margin-bottom: 8px;*/
    /*}*/
    /*.title6 {*/
    /*margin-bottom: 18px;*/
    /*}*/
    /*.title7 {*/
    /*font-size: 16px;*/
    /*line-height: 27px;*/
    /*margin-bottom: 10px;*/
    /*}*/
    /*.feature-ul {*/
    /*margin-bottom: 80px;*/
    /*padding-right: 17px;*/
    /*}*/
    /*.feature-ul li {*/
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*margin-bottom: 12px;*/
    /*}*/
    /*.test-code img {*/
    /*width: 107px;*/
    /*height: 24px;*/
    /*}*/
    /*!* -------- code sections -------*!*/
    /*.highlight-python {*/
    /*margin-bottom: 80px;*/
    /*padding: 16px 15px 27px 15px;*/
    /*background: #0F0F10;*/
    /*border-radius: 10px;*/
    /*}*/
    /*.highlight-python pre { !* TODO *!*/
    /*background-color: inherit;*/
    /*border: 1px solid #979797;*/
    /*border-radius: 5px 5px 0 0;*/
    /*margin: auto;*/
    /*line-height: 20px;*/
    /*padding: 15px;*/
    /*}*/
    /*.python-code {*/
    /*padding: 13px 0 14px 20px;*/
    /*border-radius: 10px;*/
    /*!* width: 73%; TODO: handle width to 73% *!*/
    /*}*/
    /*.python-code code {*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*height: 20px;*/
    /*}*/
    /*!* --------- tree section -------- *!*/
    /*.tree-section {*/
    /*direction: ltr;*/
    /*margin-bottom: 80px;*/
    /*}*/
    /*.tree-section .title {*/
    /*direction: rtl;*/
    /*}*/
    /*.tree-web {*/
    /*display: none;*/
    /*}*/
    /*.tree-mobile {*/
    /*display: inline-block;*/
    /*!*width: 335.88px;*!*/
    /*width: 100%; !* TODO *!*/
    /*height: 182px;*/
    /*margin-right: 28px;*/
    /*position: relative;*/
    /*left: 0;*/
    /*}*/
    /*!* -------- paragraph sections ---- *!*/
    /*.paragraph-1 {*/
    /*!*width: 259px; TODO: check with designer*!*/
    /*width: 93%;*/
    /*line-height: 29px;*/
    /*margin-bottom: 24px;*/
    /*}*/
    /*.paragraph-2 {*/
    /*!*width: 259px; TODO: check with designer*!*/
    /*width: 93%;*/
    /*text-align: justify;*/
    /*line-height: 29px;*/
    /*margin: 50px 0 24px 0;*/
    /*}*/
    /*.paragraph-2 p:last-child{*/
    /*margin-bottom: 0!important;*/
    /*}*/
    /*.paragraph-3 {*/
    /*line-height: 2.08vw;*/
    /*margin-bottom: 5.2vw;*/
    /*}*/
    /*!* ---------------------- banners       ------------------------------ *!*/
    /*.banner {*/
    /*display: block;*/
    /*cursor: pointer;*/
    /*text-decoration: none !important;*/
    /*height: 260px;*/
    /*margin: 80px auto;*/
    /*background: #418FE7;*/
    /*border-radius: 10px;*/
    /*}*/
    /*.banner .text {*/
    /*margin-right: 5.2vw;*/
    /*}*/
    /*.banner .text p {*/
    /*text-align: right;*/
    /*line-height: 2.08vw;*/
    /*font-weight: bold;*/
    /*color: #FFFFFF;*/
    /*}*/
    /*.banner .text p:last-child {*/
    /*margin-bottom: 0 !important;*/
    /*}*/
    /*.banner .text span {*/
    /*font-weight: bolder; !* extra bold *!*/
    /*}*/
    /*.banner .button-div {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*letter-spacing: 0;*/
    /*color: #FFFFFF;*/
    /*border-radius: 0.26vw;*/
    /*background-color: #528EE3;*/
    /*height: 3.64vw;*/
    /*width: 14.06vw;*/
    /*font-size: 1.14vw;*/
    /*line-height: 1.92vw;*/
    /*margin-left: 5.2vw;*/
    /*}*/
    /*.banner .button-div img {*/
    /*width: 0.312vw;*/
    /*height: 0.625vw;*/
    /*margin-right: 1.46vw;*/
    /*}*/
}
