.tree {
	direction: rtl;
	font-family: Vazir;
	font-size: 14px;
	text-align: center;
	overflow-y: hidden;
	overflow-x: auto;
}

.tree .form {
	fill: #555;
	cursor: default;
}
.tree .tag {
	fill: #777;
}
.tree .edge, .arrow {
	stroke: #ccc !important;
	stroke-width: 0.5;
}
.tree .deprel {
	fill: #d4d4d4;
}

.tree .deprel.active {
	fill: #3276b1;	
}
.tree .form.active, .edge.active, .arrow.active {
	stroke: #3276b1 !important;
}
.tree .form.w0 {
	fill: #ccc;
}