* {
    box-sizing: border-box;
}

/* ------------- variables ---------- */
:root {
    --mobile-head-right-padding: 15px;
    --web-head-right-padding: 20px;
}

/* ---------------------------------------------------- mobile version ------------------------------------------------------------*/
body {
    direction: rtl;
    font-family: "Vazir", sans-serif;
    font-size: 16px;
    color: #666666;
    background: #e5e0cc;
}

.my-container {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 100px) {
    .my-container {
        max-width: 100%;
    }
}

@media screen and (min-width: 326px) {
    .my-container {
        max-width: 87%;
    }
}

h1 {
    font-family: "Vazir-Bold", sans-serif;
}

h1,
h3 {
    margin: 0;
}

ul {
    margin-bottom: 0;
}

/*----------------------------- header  -------------------------------*/
.header-container {
    margin-bottom: 25px;
    height: 95px;
    background: #3e71b2;
}

.header {
    position: relative;
    color: #ffffff;
    height: 100%;
    padding: 19px var(--mobile-head-right-padding);
}

.header .logo {
    height: 37px;
    width: max-content;
    cursor: pointer;
    font-size: 22px;
    line-height: 37px;
}

.header .logo:hover {
    opacity: 0.8;
}

.header .text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}

.header .menu-icon,
.header .close-icon {
    display: none;
}

.header .menu-icon.active {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 8px;
    left: var(--mobile-head-right-padding);
    top: 44px;
}

.header .close-icon.active {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(var(--mobile-head-right-padding) + 3px);
    top: 41px;
}

/* ------------------------- header's mobile menu --------------------- */
.line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 94.5px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 0.5px solid #ffffff;
    background: #d8d8d8;
    z-index: 1;
}

.mobile-menu {
    display: block;
    background: #3e71b2;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 95.5px;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 43px var(--mobile-head-right-padding) 0 0;
}

.mobile-menu ul li {
    width: max-content;
    margin-bottom: 36px;
}

.mobile-menu ul a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mobile-menu img {
    width: 30px;
    height: 30px;
}

.mobile-menu span {
    font-family: "Vazir-Light", sans-serif;
    line-height: 27px;
    height: 27px;
    margin-right: 21px;
}

/* ------------------------ header's web menu -------------------------*/
.menu {
    display: none;
}

/*----------------------------- content and titles -------------------------------*/
.content {
    background: #ffffff;
    border: 0.5px solid #ceccc5;
    border-radius: 10px;
    padding: 29px 26px 61px 26px;
}

/*----------------------------- query section --------------------------------- */
label {
    display: block;
    margin-bottom: 10px;
    font-family: "Vazir-Medium", sans-serif;
    font-weight: 500; /* for override bootstrap label's font-weight, should be this line*/
    color: #303030;
    line-height: 27px;
}

textarea {
    display: block;
    font-family: "Vazir-Light", sans-serif;
    line-height: 25px;
    text-align: right;
    color: #666666;
    height: 148px;
    min-height: 148px;
    width: 100%;
    resize: vertical;
    padding: 11px 10px;
    background: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    outline: none;
}

/*----------------- query buttons -------------- */
.controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.my-btn {
    line-height: 27px;
    color: #ffffff;
    font-family: "Vazir-Medium", sans-serif;
    padding: 4px 11px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.my-btn:hover {
    color: #e6e6e6;
}

.blue-btn {
    background: #337ab7;
}

.green-btn {
    background: #5cb85c;
}

.red-btn {
    background: #d9534f;
}

.loading {
    display: none;
    background: url(../images/loading.gif) no-repeat center;
    height: 35px;
    width: 35px;
}

/*---------- show-text-section ---- */
.analyze-section {
    margin-top: 36px;
}

.added-data:not(:first-child) {
    margin-top: 40px;
}

.demo h3 {
    font-family: "Vazir-Medium", sans-serif;
    color: #337ab7;
    font-size: 16px !important;
    line-height: 27px;
    padding: 6px 10px 7px 10px;
    background: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
}

.demo > div {
    line-height: 21px;
    padding: 0 10px;
    word-break: break-word;
}

.demo > div ul {
    padding-right: 21px;
}

.demo li {
    margin-bottom: 10px;
    line-height: 21px;
    word-break: break-word;
}

.green-title {
    color: #5cb85c;
}

.red-title {
    color: #d9534f;
}

.plus_icon {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-top: 1px;
}

/* --------- tree section -------- */
.tree {
    margin-top: 60px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tree svg {
    overflow: visible !important;
    margin: auto;
    display: block;
}

.word {
    fill: #303030;
    font-size: 16px;
}

.word.w0 {
    fill: #bebebe;
}

.dependency {
    fill: #9e9e9e;
    font-size: 14px;
}

.edge,
.arrow {
    stroke: #cccccc;
}

.tag {
    display: none;
}

.dependency.active,
.word.active {
    fill: #3276b1;
}

.edge.active,
.arrow.active {
    stroke: #3276b1 !important;
}

/*----------------------------- footer  -------------------------------*/
.footer {
    padding: 10px 5px 25px 5px;
    font-size: 14px;
    line-height: 24px;
}

.footer a {
    color: #2f79b9;
    font-family: "Vazir-Bold", sans-serif;
    text-decoration: none;
}

/* ---------------------------------------------------- web version ----------------------------------------------------------------*/

@media screen and (min-width: 992px) {
    body {
        background: #eae5d1;
    }

    .my-container {
        max-width: 910px;
    }

    /*----------------------------- header  -------------------------------*/
    .header-container {
        height: 140px;
        margin-bottom: 36px;
    }

    .header {
        height: 100%;
        padding: 24px var(--web-head-right-padding) 38px
            var(--web-head-right-padding);
    }

    .header .logo {
        font-size: 30px;
        line-height: 51px;
        height: 51px;
    }

    .header .text {
        font-size: 16px;
        line-height: 27px;
        height: 27px;
    }

    .header .menu-icon,
    .header .close-icon {
        display: none;
    }

    .header .menu-icon.active,
    .header .close-icon.active {
        display: none;
    }

    /* ------------------------ header's mobile menu -------------------------*/
    .line {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    /* ------------------------ header's web menu -------------------------*/
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        left: var(--web-head-right-padding);
        top: 116px;
    }

    .menu a {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #545757;
        background: linear-gradient(180deg, #ffe385 0%, #ffcf36 100%);
        border: 1px solid #d9a600;
        box-shadow: 0 1px 1px #c9c9c9;
        border-radius: 3px;
        padding: 2px 8px 3px 15px;
    }

    .menu a:not(:first-child) {
        margin-right: 12px;
    }

    .menu a:hover {
        background: linear-gradient(#ffe788, #ffe788);
        background-color: #ffeca0;
    }

    .menu span {
        width: max-content;
        font-size: 16px;
        line-height: 35px;
        height: 35px;
        margin-right: 8px;
    }

    .menu img {
        width: 30px;
        height: 30px;
    }

    /*----------------------------- content and titles -------------------------------*/
    .content {
        padding: 53px 40px 100px 40px;
        background: #fbfbfb;
        border: 2px solid #cccbca;
        border-radius: 5px;
    }

    /*----------------------------- query section --------------------------------- */
    label {
        font-size: 20px;
        line-height: 35px;
        font-family: "Vazir-Bold", sans-serif;
        margin-bottom: 15px;
    }

    textarea {
        padding: 12px 18px;
        margin-bottom: 15px;
    }

    /*----------------- query buttons -------------- */
    .my-btn {
        padding: 7px 16px 6px 16px;
        border-radius: 7px;
        margin-left: 15px;
    }

    .loading {
        height: 40px;
        width: 40px;
    }

    /*---------- show-text-section ---- */
    .analyze-section {
        margin-top: 91px;
    }

    .added-data:not(:first-child) {
        margin-top: 70px;
    }

    .demo h3 {
        font-family: "Vazir-Bold", sans-serif;
        padding: 12px 24px 11px 24px;
        margin-bottom: 15px;
    }

    .demo > div {
        line-height: 25px;
        padding: 0 24px;
    }

    .demo li {
        margin-bottom: 15px;
        line-height: 25px;
    }

    /* --------- tree section -------- */
    .tree {
        margin-top: 80px;
    }

    .edge.w0 {
        stroke: #666666;
    }

    .edge {
        stroke-width: 0.5;
    }

    .edge,
    .arrow {
        stroke: #9e9e9e;
    }

    .dependency {
        font-family: "Vazir-Light", sans-serif;
    }

    /*----------------------------- footer  -------------------------------*/
    .footer {
        padding: 10px 20px 65px 10px;
    }

    .footer span {
        font-family: "Vazir-Medium", sans-serif;
        color: #ada99d;
    }

    .footer a {
        font-family: "Vazir-Medium", sans-serif;
        color: #337ab7;
    }
}
