* {
    box-sizing: border-box;
}

.inline-block {
    display: inline-block;
}

/* ------------- variables ---------- */
:root {
    --mobile-head-right-padding: 15px;
    --web-head-right-padding: 20px;
}

/* ---------------------------------------------------- mobile version ------------------------------------------------------------*/
body {
    direction: rtl;
    font-family: "Vazir", sans-serif;
    font-size: 16px;
    background: #e5e0cc;
}

.my-container {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 100px) {
    .my-container {
        max-width: 100%;
    }
}

@media screen and (min-width: 326px) {
    .my-container {
        max-width: 87%;
    }
}

a {
    color: #337ab7;
}

h1,
h2 {
    font-family: "Vazir-Bold", sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

ul {
    margin-bottom: 0;
    padding-right: 26px;
}

ul li {
    line-height: 35px;
}

p {
    font-family: "Vazir-Light", sans-serif;
    text-align: justify;
}

pre,
code {
    direction: ltr;
    font-family: "Vazir-Code", monospace;
    color: #ffffff;
    margin-bottom: 0;
}

.highlight .o,
.highlight .n,
.highlight .p {
    color: #ffffff;
}

/*----------------------------- header  -------------------------------*/
.header-container {
    margin-bottom: 25px;
    height: 95px;
    background: #3e71b2;
}

.header {
    position: relative;
    color: #ffffff;
    height: 100%;
    padding: 19px var(--mobile-head-right-padding);
}

.header .logo {
    height: 37px;
    width: max-content;
    font-size: 22px;
    line-height: 37px;
}

.header .text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
}

.header .menu-icon,
.header .close-icon {
    display: none;
}

.header .menu-icon.active {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 8px;
    left: var(--mobile-head-right-padding);
    top: 44px;
}

.header .close-icon.active {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 13px;
    height: 13px;
    left: calc(var(--mobile-head-right-padding) + 3px);
    top: 41px;
}

/* ------------------------- header's mobile menu --------------------- */
.separator-line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 94.5px;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 0.5px solid #ffffff;
    background: #d8d8d8;
    z-index: 1;
}

.mobile-menu {
    display: block;
    background: #3e71b2;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 95.5px;
}

.mobile-menu ul {
    list-style-type: none;
    padding: 43px var(--mobile-head-right-padding) 0 0;
}

.mobile-menu ul li {
    width: max-content;
    margin-bottom: 36px;
}

.mobile-menu ul a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.mobile-menu img {
    width: 30px;
    height: 30px;
}

.mobile-menu span {
    font-family: "Vazir-Light", sans-serif;
    line-height: 27px;
    height: 27px;
    margin-right: 21px;
}

/* ------------------------ header's web menu -------------------------*/
.menu {
    display: none;
}

/*----------------------------- content and titles -------------------------------*/
.content {
    background: #ffffff;
    border: 0.5px solid #ceccc5;
    border-radius: 10px;
    padding: 40px 25px;
}

.title {
    display: flex;
    align-items: center;
    color: #303030;
    font-size: 20px;
    line-height: 35px;
    height: 35px;
}

.title1 {
    margin-bottom: 15px;
}

.title2 {
    margin-bottom: 14px;
}

.title3 {
    margin-bottom: 44px;
}

.title4 {
    margin-bottom: 15px;
}

.title5 {
    margin-bottom: 8px;
}

.title6 {
    margin-bottom: 24px;
}

.title7 {
    font-size: 22px;
    margin-bottom: 16px;
}

/*---------- feature section ---- */
.feature-ul {
    margin-bottom: 50px;
    padding-right: 22px;
    font-family: "Vazir-Light", sans-serif;
}

.feature-ul a {
    font-family: "Vazir-Medium", sans-serif;
}

.test-code img {
    border-radius: 3px;
    height: 23px;
}

/* -------- code-section -------*/
.code-section {
    margin-bottom: 80px;
    background: #0f0f10;
    border-radius: 10px;
    padding: 16px 15px 27px 15px;
    font-family: "Vazir-Code", monospace;
    line-height: 20px;
    color: #ffffff;
    direction: ltr;
}

.code-web {
    display: none;
}

.code-mobile {
    display: block;
}

.code-mobile > div {
    border: 1px solid #979797;
    border-radius: 5px;
    overflow: hidden;
}

.code-mobile > div:not(:last-child) {
    margin-bottom: 25px;
}

.write-wrapper {
    padding: 15px;
}

.has-break {
    margin-bottom: 24px;
}

.result-wrapper {
    line-height: 19px;
    color: #2a2b2d;
}

.result-wrapper .toggle {
    height: 35px;
    background: #ffe385;
    border: 1px solid #979797;
    margin: 0 -1px -1px -1px;
    padding: 8px 30px 9px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle .text {
    height: 17px;
}

.toggle img {
    width: 8px;
    height: 4px;
    margin-top: 4px;
}

.toggle .close-path {
    display: none;
}

.result-wrapper .response {
    display: none;
    padding: 8px 20px 11px 15px;
    background: #fff6d9;
    border: 1px solid #979797;
    margin: 0 -1px -1px -1px;
}

/* -------- python-code section -------*/
.python-code {
    padding: 15px 0 15px 20px;
    border-radius: 10px;
    background-color: #0f0f10 !important;
    display: flex;
    align-items: center;
}

.python-code code {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
}

/* --------- tree section -------- */
.tree-section {
    margin-bottom: 65px;
}

.tree {
    padding-bottom: 28px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tree svg {
    height: 182px;
    width: auto;
    display: block;
    margin: auto;
    overflow: visible !important;
}

.edge {
    stroke: #d8d8d8;
    stroke-width: 0.5;
}

.arrow {
    fill: #d8d8d8;
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.word {
    fill: #303030;
    font-size: 16px;
    height: 27px;
    line-height: 27px;
    letter-spacing: 0;
}

.word.w0 {
    fill: #bebebe;
}

.dependency {
    fill: #d8d8d8;
    font-family: "Vazir-Light", sans-serif;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    letter-spacing: 0;
}

.word.w0.active {
    fill: #9e9e9e !important;
}

.edge.w0.active {
    stroke: #666666 !important;
}

.arrow.w0.active {
    fill: #666666 !important;
}

.dependency.w0.active {
    fill: #666666 !important;
}

.edge.w1.active {
    stroke: #ff4b4b !important;
}

.arrow.w1.active {
    fill: #ff4b4b !important;
}

.dependency.w1.active {
    fill: #ff4b4b !important;
}

.edge.w2.active {
    stroke: #2faae0 !important;
}

.arrow.w2.active {
    fill: #2faae0 !important;
}

.dependency.w2.active {
    fill: #2faae0 !important;
}

.edge.w3.active {
    stroke: #3abc40 !important;
}

.arrow.w3.active {
    fill: #3abc40 !important;
}

.dependency.w3.active {
    fill: #3abc40 !important;
}

.edge.w4.active {
    stroke: #ff9329 !important;
}

.arrow.w4.active {
    fill: #ff9329 !important;
}

.dependency.w4.active {
    fill: #ff9329 !important;
}

.edge.w5.active {
    stroke: #3abc40 !important;
}

.arrow.w5.active {
    fill: #3abc40 !important;
}

.dependency.w5.active {
    fill: #3abc40 !important;
}

.arrow.w6.active {
    fill: #df6ffd; /* should not have important sign */
}

.dependency.w6.active {
    fill: #df6ffd; /* should not have important sign */
}

.edge.w7.active {
    stroke: #df6ffd !important;
}

/* -------- paragraph sections ---- */
.paragraph-1 {
    width: 95%;
    line-height: 26px;
    margin-bottom: 15px;
}

.paragraph-2 {
    width: 95%;
    text-align: justify;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 60px;
}

.paragraph-2 p {
    margin-bottom: 0;
}

.paragraph-3 {
    width: 95%;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 5px;
}

.paragraph-3 p {
    margin-bottom: 0;
}

.paragraph-4 {
    margin-bottom: 60px;
    line-height: 29px;
}

.paragraph-2 a,
.paragraph-3 a,
.paragraph-4 a {
    font-family: "Vazir-Medium", sans-serif;
}

/* --------------------------- banners ------------------------------ */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    cursor: pointer;
    text-decoration: none !important;
    background: #418fe7;
    border-radius: 10px;
    line-height: 27px;
    margin: 90px auto 70px auto;
    position: relative;
    overflow-x: hidden;
}

.banner .text {
    margin-bottom: 83px;
    margin-top: 25px;
    width: 41vw;
}

.banner .text p {
    font-family: "Vazir-Medium", sans-serif;
    text-align: right;
    color: #ffffff;
}

.banner .text p:last-child {
    margin-bottom: 0 !important;
}

.banner .text span {
    font-family: "Vazir-Bold", sans-serif;
}

.banner .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    letter-spacing: 0;
    color: #ffffff;
    font-family: "Vazir-Bold", sans-serif;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 9px 58px 9px 40px;
}

.banner .button-div span {
    width: max-content;
}

.banner .button-div img {
    width: 6px;
    height: 12px;
    margin-right: 23px;
}

.banner .banner-web-shapes {
    display: none;
}

.banner-mob-left-shape {
    position: absolute;
    width: 134px;
    height: 60.13px;
    left: -30px;
    top: 39px;
}

.banner-mob-right-shape {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 3.73vw;
    top: 125px;
}

/* ---------- last-change section ----- */
.last-change-section {
    margin-bottom: 40px;
}

.last-change-section .sub-title {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 12px 20px 12px 0;
}

.sub-title a {
    text-decoration: none !important;
}

.sub-title img {
    width: 13px;
    height: 25px;
}

.sub-title span {
    font-family: "Vazir-Bold", sans-serif;
    line-height: 27px;
    height: 27px;
    margin-right: 17px;
}

.last-change-section ul:not(:last-child) {
    margin-bottom: 51px;
}

.last-change-section ul li {
    font-family: "Vazir-Light", sans-serif;
}

.last-change-section ul li:not(:last-child) {
    margin-bottom: 5px;
}

/* ----------- thank-section ---------------*/
.thank-section ul li:not(:last-child) {
    margin-bottom: 5px;
}

.thank-section ul li {
    font-family: "Vazir-Light", sans-serif;
}

.thank-section a {
    font-family: "Vazir-Medium", sans-serif;
}

/*----------------------------- footer  -------------------------------*/
.footer {
    padding: 10px 5px 25px 10px;
    font-size: 14px;
    line-height: 24px;
}

.footer a {
    font-family: "Vazir-Bold", sans-serif;
    color: #2f79b9;
    text-decoration: none;
}

@media screen and (min-width: 700px) {
    .tree svg {
        height: auto;
        width: 600px;
    }
}

@media screen and (min-width: 850px) {
    /* for make responsive banner */
    .banner {
        flex-direction: row;
        background: linear-gradient(135deg, #1c64d7 0%, #4695e9 100%);
        height: 200px;
    }

    .banner .text {
        margin-right: 55px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .banner .button-div {
        font-family: "Vazir-Medium", sans-serif;
        border-radius: 8px;
        margin-left: 54px;
        margin-bottom: 0;
        padding: 12px 44px 11px 32px;
    }

    .banner .banner-web-shapes {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .banner-mob-left-shape {
        display: none;
    }

    .banner-mob-right-shape {
        display: none;
    }
}

/* ---------------------------------------------------- web version ----------------------------------------------------------------*/

@media screen and (min-width: 992px) {
    /* font-size and other size are 0.8 sizes in 1550px */
    body {
        background: #eae5d1;
    }

    .my-container {
        max-width: 910px;
    }

    /*----------------------------- header  -------------------------------*/
    .header-container {
        height: 140px;
        margin-bottom: 36px;
    }

    .header {
        height: 100%;
        padding: 24px var(--web-head-right-padding) 38px
            var(--web-head-right-padding);
    }

    .header .logo {
        font-size: 30px;
        line-height: 51px;
        height: 51px;
    }

    .header .text {
        font-size: 16px;
        line-height: 27px;
        height: 27px;
    }

    .header .menu-icon,
    .header .close-icon {
        display: none;
    }

    .header .menu-icon.active,
    .header .close-icon.active {
        display: none;
    }

    /* ------------------------ header's mobile menu -------------------------*/
    .separator-line {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    /* ------------------------ header's web menu -------------------------*/
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        left: var(--web-head-right-padding);
        top: 116px;
    }

    .menu a {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #545757;
        background: linear-gradient(180deg, #ffe385 0%, #ffcf36 100%);
        border: 1px solid #d9a600;
        box-shadow: 0 1px 1px #c9c9c9;
        border-radius: 3px;
        padding: 2px 8px 3px 15px;
    }

    .menu a:not(:first-child) {
        margin-right: 12px;
    }

    .menu a:hover {
        background: linear-gradient(#ffe788, #ffe788);
        background-color: #ffeca0;
    }

    .menu span {
        width: max-content;
        font-size: 16px;
        line-height: 35px;
        height: 35px;
        margin-right: 8px;
    }

    .menu img {
        width: 30px;
        height: 30px;
    }

    /*----------------------------- content and titles -------------------------------*/
    .content {
        background: #fbfbfb;
        padding: 40px;
        border: 2px solid #cccbca;
        border-radius: 5px;
    }

    .title {
        font-size: 22px;
    }

    .title1 {
        margin-bottom: 15px;
    }

    .title2 {
        margin-bottom: 24px;
    }

    .title3 {
        margin-bottom: 81px;
    }

    .title4 {
        margin-bottom: 14px;
    }

    .title5 {
        margin-bottom: 16px;
    }

    .title6 {
        margin-bottom: 24px;
    }

    .title7 {
        margin-bottom: 19px;
    }

    /* -------- code-section --------*/
    .code-section {
        padding: 20px 18px;
        line-height: 30px;
    }

    .code-web {
        display: block;
        padding: 20px 27px 27px 27px;
        border: 1px solid #979797;
        border-radius: 8px;
    }

    .code-mobile {
        display: none;
    }

    /* --------- tree section -------- */
    .tree-section {
        margin-bottom: 87px;
    }

    .tree {
        padding-bottom: 0;
    }

    /* -------- paragraph sections ---- */
    .paragraph-1 {
        line-height: 35px;
    }

    .paragraph-2 {
        line-height: 35px;
    }

    .paragraph-3 {
        line-height: 35px;
        margin-bottom: 15px;
    }

    .paragraph-4 {
        line-height: 35px;
        margin-bottom: 80px;
    }

    /* ---------- last-change section ----- */
    .last-change-section {
        margin-bottom: 56px;
    }

    /*----------------------------- footer  -------------------------------*/
    .footer {
        padding: 10px 20px 25px 10px;
    }

    .footer span {
        font-family: "Vazir-Medium", sans-serif;
        color: #ada99d;
    }

    .footer a {
        font-family: "Vazir-Medium", sans-serif;
        color: #337ab7;
    }
}
