/* Note: commented font-face are not used in project but is correct url and other properties. */
/* use from them, when need to them. */

@font-face {
  font-family: IRMitra;
  font-weight: normal;
  src: url('../fonts/IRMitra.woff') format('woff');
}

@font-face {
  font-family: IRMitra;
  font-weight: bold;
  src: url('../fonts/IRMitraBd.woff') format('woff');
}

@font-face {
  font-family: BMitra;
  font-weight: normal;
  src: url('../fonts/BMitra.woff') format('woff');
}


@font-face {
  font-family: Vazir;
  font-weight: normal;
  src: url("../fonts/Vazir.ttf") format('truetype');
}
